<% provide(:title, "Вход") %>
<h1>Вход</h1>
<center>
<div style="width:400px">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email, "Email" %>
      <%= f.text_field :email %>

      <%= f.label :password, "Пароль" %>
      <%= f.password_field :password %>

      <%= f.submit "Войти", class: "btn btn-large btn-primary" %>
    <% end %>
</div>
</center>