<% provide(:title, @user.name) %>
<h2><%= @user.name %></h2>
<h3>Входящих заявок: <%= @user.inboxes.count %></h3>
<h3>Исходящих заявок: <%= @user.outboxes.count %></h3>
<%= render file: "inboxes/home_show" %>

<%= render file: "outboxes/home_show" %>

<%= will_paginate @inboxes %>