<%= form_for @inbox, :html => { :multipart => true } do |f| %>
	<div class="new_application">
	
		<h2>Входящая заявка</h2>
		
		<%= render 'shared/error_messages', object: f.object %>
		<div class="fields_inbox">
			<h4><center>
				Тема заявки:
			</center></h4>
			<%= f.text_area :theme, placeholder: "Тема заявки" %>
			
			<h4><center>
				Контрагент:
			</center></h4>
			<%=  f.select(:partner_id, options_for_select(Partner.all.collect {|x| [x.name, x.id]},  :include_blank => "Выберите контрагента")) %>
			
			<h4><center>
				Список оборудования:
			</center></h4>
			<%= f.select(:equipment_ids, options_for_select(Equipment.all.collect { |z| [z.name, z.id] }), {}, {:multiple=>true, :size => 10}) %>

			<h4><center>
				Тип заявки:
			</center></h4>
			<%=  f.select(:application_type, ["Новая","Принята","На рассмотрении","Завершена"], :include_blank => "Выберите тип зявки") %>
			<center>
				<%= f.submit "Добавить", class: "btn btn-large btn-primary" %>
				<%= link_to "Назад", :back, :class => "btn btn-large btn-primary" %>	
			</center>
		</div>
	</div>
<% end %>