<%= form_for(@partner) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="new_application">
	<h2>Новый контрагент</h2>
	
	<div class="fields_partner">
    <%= f.text_area :name, placeholder: "Название" %>
	<%= f.text_area :director, placeholder: "Директор" %>
	<%= f.text_area :contact_name, placeholder: "Контактное лицо" %>
	<%= f.text_area :contact_phone, placeholder: "Телефон" %>
	<%= f.text_area :contact_email, placeholder: "Email" %>
	<%= f.text_area :bin, placeholder: "БИН" %>
    <%= f.text_area :address, placeholder: "Адрес" %>
	</div>
	<center>
		<%= f.submit "Добавить", class: "btn btn-large btn-primary" %>
		<%= link_to "Назад", :back, :class => "btn btn-large btn-primary" %>
	</center>
<% end %>
</div>