<%= form_for @outbox, :html => { :multipart => true } do |f| %>
	<div class="new_application">
	
		<h1>Исходящая заявка</h1>
		
		<%= render 'shared/error_messages', object: f.object %>
		<div class="fields_outbox">
			
			<h4><center>Входящая заявка:</center></h4>
			<%= f.select(:inbox_id, options_for_select(Inbox.all.collect {|x| [x.id]}, :include_blank => "Выберите заявку")) %>
			
			<h4><center>Контрагент:</center></h4>
			<%= f.select(:partner_id, options_for_select(Partner.all.collect {|x| [x.name, x.id]}, :include_blank => "Выберите контрагента")) %>
			
			<h4><center>Список оборудования:</center></h4>
			<%= f.select(:equipment_ids, options_for_select(Equipment.all.collect { |z| [z.name, z.id] }, {:selected => @outbox.equipment_ids}), {}, {:multiple=>true, :size => 10}) %>
			
			<center>
				<%= f.submit "Сохранить", class: "btn btn-large btn-primary",data: { confirm: "Сохранить изменения?" } %>
				<%= link_to "Назад", :back, :class => "btn btn-large btn-primary" %>
			</center>
		</div>
	</div>
<% end %>
